bidict
blinker
branca
build
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
decorator
deep-translator
dnspython
dropbox
Flask
Flask-SocketIO
folium
future
h11
h2
hpack
hstspreload
html2image
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
ldap3
ldapdomaindump
MarkupSafe
numpy
outcome
packaging
pillow
pip-tools
ply
pyaes
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pyOpenSSL
pyproject_hooks
pyreadline3
Pyrogram
PySocks
pyTelegramBotAPI
python-dotenv
python-engineio
python-socketio
python-telegram-bot
pytz
requests
rfc3986
rsa
selenium
service-identity
setuptools
simple-websocket
six
sniffio
sortedcontainers
soupsieve
stone
TelegramBotAPI
Telethon
tornado
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
webdriver-manager
websocket-client
Werkzeug
wheel
wsproto
xyzservices